<div class="tool_info">
  <%=  "#{@tool.name}, $#{@tool.price_format}, quantity: #{@tool.quantity}"%>
  <%= link_to "Destroy #{@tool.name}", tool_path(@tool.id), method: "delete" %>
  <%= link_to "Update #{@tool.name}", edit_tool_path(@tool.id) %>
</div>
